html,
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}
div {
  box-sizing: border-box !important;
}
a {
  text-decoration: none;
}
header {
  width: 100%;
  border-bottom: 1px solid #cccccc;
}
header #nav-icon {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
header #nav-icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #000000;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
header #nav-icon span:nth-child(1) {
  top: 0px;
}
header #nav-icon span:nth-child(2),
header #nav-icon span:nth-child(3) {
  top: 18px;
}
header #nav-icon span:nth-child(4) {
  top: 36px;
}
header #nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
header #nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
header #nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
header #nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
header #sombra {
  width: 66.66%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
  left: -66.66%;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 40px;
  color: #FFFFFF;
  font-size: 80px;
  font-weight: 600;
  outline: none;
  cursor: pointer;
}
@media (max-width: 1366px) {
  header #sombra {
    width: calc(100% - 300px);
  }
}
header #cart {
  position: fixed;
  width: 33.33%;
  height: 100%;
  top: 0;
  right: -33.33%;
  background-color: #202025;
  z-index: 200;
  outline: none;
}
@media (max-width: 1366px) {
  header #cart {
    width: 300px;
  }
}
header #cart .title-cart {
  padding: 5% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
header #cart .title-cart .icon-cart {
  width: 33px;
  height: 40px;
  margin-right: 15px;
  background-image: url('../img/icon-sacola.png');
  background-repeat: no-repeat;
  position: relative;
}
header #cart .title-cart .icon-cart span {
  width: 20px;
  border-radius: 100%;
  background-color: #dfbd00;
  color: #000000;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  position: absolute;
  bottom: -8px;
  right: -5px;
}
header #cart .title-cart h3 {
  font-size: 24px;
  color: #FFFFFF;
  font-weight: bold;
}
header #cart .content-items-cart {
  width: 100%;
  overflow-y: auto;
  max-height: calc(100% - 315px);
  float: left;
}
header #cart .content-items-cart .item-cart {
  width: 100%;
  padding: 0 25px;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  float: left;
}
@media (max-width: 1366px) {
  header #cart .content-items-cart .item-cart {
    padding: 0 10px;
  }
}
header #cart .content-items-cart .item-cart .wrap-item-cart {
  width: 100%;
  padding: 5% 0;
  border-top: 2px solid #131316;
  position: relative;
  display: flex;
  float: left;
}
header #cart .content-items-cart .item-cart .wrap-item-cart:hover {
  background-color: #131316;
}
header #cart .content-items-cart .item-cart .wrap-item-cart .image-item-cart {
  margin-right: 15px;
}
header #cart .content-items-cart .item-cart .wrap-item-cart .image-item-cart img {
  width: 60px;
}
header #cart .content-items-cart .item-cart .wrap-item-cart .infos-item-cart {
  width: 100%;
}
header #cart .content-items-cart .item-cart .wrap-item-cart .infos-item-cart a {
  width: 100%;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
  display: block;
  color: #FFFFFF;
}
@media (max-width: 1366px) {
  header #cart .content-items-cart .item-cart .wrap-item-cart .infos-item-cart a {
    font-size: 12px;
  }
}
header #cart .content-items-cart .item-cart .wrap-item-cart .infos-item-cart span {
  width: 100%;
  font-weight: 200;
  font-size: 12px;
  line-height: 17px;
  color: #999999;
  display: block;
}
header #cart .content-items-cart .item-cart .wrap-item-cart .price-remove-item-cart button {
  line-height: 25px;
  color: #000000;
  background: transparent;
  border: 0;
  font-size: 45px;
  cursor: pointer;
  outline: none;
  float: right;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
header #cart .content-items-cart .item-cart .wrap-item-cart .price-remove-item-cart button:hover {
  color: #FFFFFF;
}
header #cart .content-items-cart .item-cart .wrap-item-cart .price-remove-item-cart span {
  width: 80px;
  font-weight: bold;
  margin-top: 20px;
  color: #dfbd00;
  font-size: 15px;
  float: right;
}
header #cart .sacola-vazia img {
  display: block;
  margin: 0 auto;
}
header #cart .resume-cart {
  width: 100%;
  padding: 5% 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  float: left;
}
@media (max-width: 1366px) {
  header #cart .resume-cart {
    padding: 5% 10px;
  }
}
header #cart .resume-cart .subtotal {
  float: left;
}
header #cart .resume-cart .subtotal span {
  font-size: 15px;
  color: #919193;
}
header #cart .resume-cart .all-price-items {
  float: right;
}
header #cart .resume-cart .all-price-items .total {
  font-weight: bold;
  font-size: 24px;
  color: #dfbd00;
  float: right;
}
header #cart .resume-cart .all-price-items .parcela {
  font-size: 12px;
  color: #919193;
  float: right;
}
header #cart .resume-cart button {
  width: 100%;
  border: 0px;
  cursor: pointer;
  margin-top: 30px;
  background-color: #000000;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  padding: 20px 0;
  font-size: 15px;
  font-weight: bold;
  outline: none;
  color: #FFFFFF;
  text-align: center;
  float: left;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
header #cart .resume-cart button:hover {
  color: #000000;
  background-color: #dfbd00;
}
.row {
  width: 100%;
  margin: 0 auto;
  max-width: 50rem;
}
#grid-product {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
}
#grid-product .item-product {
  width: 33.33%;
  padding: 20px;
}
#grid-product .item-product .image-product {
  text-align: center;
  display: block;
}
#grid-product .item-product .image-product img {
  width: 100%;
  max-width: 180px;
}
@media (max-width: 600px) {
  #grid-product .item-product {
    width: 50%;
    padding: 20px 10px;
  }
}
#grid-product .item-product .title-product {
  width: 100%;
}
#grid-product .item-product .title-product a {
  margin: 10px 0;
  font-size: 14px;
  color: #313135;
  text-align: center;
  line-height: 16px;
  display: block;
}
#grid-product .item-product .title-product a:hover {
  text-decoration: underline;
}
#grid-product .item-product .price-product {
  width: 100%;
  margin-top: 15px;
  text-align: center;
  position: relative;
}
#grid-product .item-product .price-product:before {
  width: 20px;
  height: 2px;
  background-color: #dfbd00;
  position: absolute;
  left: 0;
  right: 0;
  top: -3px;
  margin: 0 auto;
  content: '';
}
#grid-product .item-product .price-product span {
  color: #313135;
}
#grid-product .item-product .price-product .currencyFormat {
  font-size: 12px;
}
#grid-product .item-product .price-product .price {
  font-size: 29px;
  font-weight: bold;
}
#grid-product .item-product .price-product .cents {
  margin-left: -3px;
  font-size: 12px;
}
#grid-product .item-product .installments {
  width: 100%;
  text-align: center;
}
#grid-product .item-product .installments span {
  font-size: 14px;
  color: #999999;
}
