
@colorGray: #cccccc;
@colorBlack: #000000;
@colorWhite: #FFFFFF;
@colorYellow: #dfbd00;

.transition(...){
    -webkit-transition: @arguments;
    -moz-transition   : @arguments;
    -o-transition     : @arguments;
    transition        : @arguments;
}

.transform(...){
    -webkit-transform : @arguments;
    -moz-transform    : @arguments;
    -o-transform      : @arguments;
    transform         : @arguments;
}

html,
body {
    margin     : 0px;
    padding    : 0px;
    font-family: 'Open Sans', sans-serif;
}

div {
    box-sizing: border-box !important;
}

a {
    text-decoration: none;
}

header {
    width        : 100%;
    border-bottom: 1px solid @colorGray;

    #nav-icon {
        width             : 60px;
        height            : 45px;
        position          : relative;
        margin            : 50px auto;
        .transform(rotate(0deg));
        .transition(.5s ease-in-out);
        cursor            : pointer;
    }

    #nav-icon span {
        display           : block;
        position          : absolute;
        height            : 9px;
        width             : 100%;
        background        : @colorBlack;
        border-radius     : 3px;
        opacity           : 1;
        left              : 0;
        .transform(rotate(0deg));
        .transition(.25s ease-in-out);
    }

    #nav-icon span:nth-child(1) {
        top: 0px;
    }

    #nav-icon span:nth-child(2),
    #nav-icon span:nth-child(3) {
        top: 18px;
    }

    #nav-icon span:nth-child(4) {
        top: 36px;
    }

    #nav-icon.open span:nth-child(1) {
        top  : 18px;
        width: 0%;
        left : 50%;
    }

    #nav-icon.open span:nth-child(2) {
        .transform(rotate(45deg));
    }

    #nav-icon.open span:nth-child(3) {
        .transform(rotate(-45deg));
    }

    #nav-icon.open span:nth-child(4) {
        top  : 18px;
        width: 0%;
        left : 50%;
    }

    #sombra {
        width           : 66.66%;
        height          : 100%;
        position        : fixed;
        background-color: rgba(0, 0, 0, 0.5);
        z-index         : 200;
        left            : -66.66%;
        top             : 0;
        display         : flex;
        justify-content : flex-end;
        align-items     : center;
        padding-right   : 40px;
        color           : @colorWhite;
        font-size       : 80px;
        font-weight     : 600;
        outline         : none;
        cursor          : pointer;

        @media (max-width: 1366px) {
            width: ~"calc(100% - 300px)";
        }
    }

    #cart {
        position        : fixed;
        width           : 33.33%;
        height          : 100%;
        top             : 0;
        right           : -33.33%;
        background-color: #202025;
        z-index         : 200;
        outline         : none;

        @media (max-width: 1366px) {
            width:300px;
        }

        .title-cart {
            padding        : 5% 0;
            display        : flex;
            justify-content: center;
            align-items    : center;

            .icon-cart {
                width            : 33px;
                height           : 40px;
                margin-right     : 15px;
                background-image : url('../img/icon-sacola.png');
                background-repeat: no-repeat;
                position         : relative;

                span {
                    width           : 20px;
                    border-radius   : 100%;
                    background-color: @colorYellow;
                    color           : @colorBlack;
                    font-size       : 12px;
                    font-weight     : bold;
                    text-align      : center;
                    line-height     : 20px;
                    position        : absolute;
                    bottom          : -8px;
                    right           : -5px;
                }
            }

            h3 {
                font-size  : 24px;
                color      : @colorWhite;
                font-weight: bold;
            }
        }

        .content-items-cart {
            width     : 100%;
            overflow-y: auto;
            max-height: ~"calc(100% - 315px)";
            float     : left;

            .item-cart {
                width             : 100%;
                padding           : 0 25px;
                .transition(.25s ease-in-out);
                float             : left;

                @media (max-width: 1366px) {
                    padding           : 0 10px;
                }

                .wrap-item-cart {
                    width     : 100%;
                    padding   : 5% 0;
                    border-top: 2px solid #131316;
                    position  : relative;
                    display   : flex;
                    float     : left;

                    &:hover {
                        background-color: #131316;
                    }

                    .image-item-cart {
                        margin-right: 15px;

                        img {
                            width: 60px;
                        }
                    }

                    .infos-item-cart {
                        width: 100%;

                        a {
                            width        : 100%;
                            margin-bottom: 5px;
                            font-size    : 14px;
                            font-weight  : 400;
                            display      : block;
                            color        : @colorWhite;

                            @media (max-width: 1366px) {
                                font-size: 12px;
                            }
                        }

                        span {
                            width      : 100%;
                            font-weight: 200;
                            font-size  : 12px;
                            line-height: 17px;
                            color      : #999999;
                            display    : block;
                        }
                    }

                    .price-remove-item-cart {
                        button {
                            line-height: 25px;
                            color      : @colorBlack;
                            background : transparent;
                            border     : 0;
                            font-size  : 45px;
                            cursor     : pointer;
                            outline    : none;
                            float      : right;

                            .transition(.25s ease-in-out);

                            &:hover {
                                color: @colorWhite;
                            }
                        }

                        span {
                            width      : 80px;
                            font-weight: bold;
                            margin-top : 20px;
                            color      : @colorYellow;
                            font-size  : 15px;
                            float      : right;
                        }
                    }
                }
            }
        }

        .sacola-vazia {
            img {
                display: block;
                margin : 0 auto;
            }
        }

        .resume-cart {
            width          : 100%;
            padding        : 5% 25px;
            display        : flex;
            flex-wrap      : wrap;
            justify-content: space-between;
            align-items    : center;
            float          : left;

            @media (max-width: 1366px) {
                padding        : 5% 10px;
            }

            .subtotal {
                float: left;

                span {
                    font-size: 15px;
                    color    : #919193;
                }
            }

            .all-price-items {
                float: right;

                .total {
                    font-weight: bold;
                    font-size  : 24px;
                    color      : @colorYellow;
                    float      : right;
                }

                .parcela {
                    font-size: 12px;
                    color    : #919193;
                    float    : right;
                }
            }

            button {
                width           : 100%;
                border          : 0px;
                cursor          : pointer;
                margin-top      : 30px;
                background-color: @colorBlack;
                box-shadow      : 2px 2px 3px rgba(0, 0, 0, 0.5);
                padding         : 20px 0;
                font-size       : 15px;
                font-weight     : bold;
                outline         : none;
                color           : @colorWhite;
                text-align      : center;
                float           : left;

                .transition(.25s ease-in-out);

                &:hover {
                    color           : @colorBlack;
                    background-color: @colorYellow;
                }
            }
        }
    }
}

.row {
    width    : 100%;
    margin   : 0 auto;
    max-width: 50rem;
}

#grid-product {
    width    : 100%;
    flex-wrap: wrap;
    display  : flex;

    .item-product {
        width  : 33.33%;
        padding: 20px;

        .image-product {
            text-align: center;
            display   : block;

            img{
                width: 100%;
                max-width: 180px;
            }
        }

        @media (max-width: 600px) {
            width  : 50%;
            padding: 20px 10px;
        }

        .title-product {
            width: 100%;

            a {
                margin     : 10px 0;
                font-size  : 14px;
                color      : #313135;
                text-align : center;
                line-height: 16px;
                display    : block;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .price-product {
            width     : 100%;
            margin-top: 15px;
            text-align: center;
            position  : relative;

            &:before {
                width           : 20px;
                height          : 2px;
                background-color: @colorYellow;
                position        : absolute;
                left            : 0;
                right           : 0;
                top             : -3px;
                margin          : 0 auto;
                content         : '';
            }

            span {
                color: #313135;
            }

            .currencyFormat {
                font-size: 12px;
            }

            .price {
                font-size  : 29px;
                font-weight: bold;
            }

            .cents {
                margin-left: -3px;
                font-size  : 12px;
            }
        }

        .installments {
            width     : 100%;
            text-align: center;

            span {
                font-size: 14px;
                color    : #999999;
            }
        }
    }
}